## Pandas analysis

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every 'x' BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [1]:
# If you didn't download it yet, please get the relevant file now!
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

--2024-11-28 08:54:44--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Risoluzione di www.dropbox.com (www.dropbox.com)... 162.125.69.18, 2620:100:6025:18::a27d:4512
Connessione a www.dropbox.com (www.dropbox.com)|162.125.69.18|:443... connesso.
Richiesta HTTP inviata, in attesa di risposta... 302 Found
Posizione: https://www.dropbox.com/scl/fi/pkkpoxlm7beasryexpdf8/data_000637.txt?rlkey=rkm2em1v57hewglzelmin21c9 [segue]
--2024-11-28 08:54:45--  https://www.dropbox.com/scl/fi/pkkpoxlm7beasryexpdf8/data_000637.txt?rlkey=rkm2em1v57hewglzelmin21c9
Riutilizzo della connessione esistente a www.dropbox.com:443.
Richiesta HTTP inviata, in attesa di risposta... 302 Found
Posizione: https://uc586c4afb766454ef4065482b74.dl.dropboxusercontent.com/cd/0/inline/CfOf6DuNbSef8uylxl94gO83eeUNeK3J9tXsATKA4Oq_LNVOWl0JRWFwu0NTwFVbq3MPV2Bfs6P0H8iQADaojGCRiYUWyVCCrQSPzThk3C_k-E1TtcpiVq9qPV52cOTUx-Y/file# [segue]
--2024-11-28 08:54:45--  https://uc586c4afb766454ef4065482b74.dl.dropboxusercontent.com/cd/0/inline/CfOf6DuNbSef8uylxl94gO83eeUNeK3J9tXsATKA4Oq_LNVOWl0JRWFwu0NTwFVbq3MPV2Bfs6P0H8iQADaojGCRiYUWyVCCrQSPzThk3C_k-E1TtcpiVq9qPV52cOTUx-Y/file
Risoluzione di uc586c4afb766454ef4065482b74.dl.dropboxusercontent.com (uc586c4afb766454ef4065482b74.dl.dropboxusercontent.com)... 162.125.69.15, 2620:100:6025:15::a27d:450f
Connessione a uc586c4afb766454ef4065482b74.dl.dropboxusercontent.com (uc586c4afb766454ef4065482b74.dl.dropboxusercontent.com)|162.125.69.15|:443... connesso.
Richiesta HTTP inviata, in attesa di risposta... 200 OK
Lunghezza: 33179236 (32M) [text/plain]
Salvataggio in: ‘/home/pira/data/data_000637.txt’

data_000637.txt     100%[===================>]  31,64M  13,1MB/s    in 2,4s

2024-11-28 08:54:48 (13,1 MB/s) - ‘/home/pira/data/data_000637.txt’ salvato [33179236/33179236]

1\. Create a Pandas DataFrame reading N rows of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k.

In [12]:
import pandas as pa
import numpy as np

#find out how many rows there are in the file
file_name = "data_000637.txt"

with open(file_name, 'r') as file:
    count = sum(1 for line in file)

print("The file has " + str(count) + " entries")

#set the value of N -> entries to consider for the analysis
N = 15000 

#create the pandas dataframe
df = pa.read_csv(file_name, nrows=N)
df

The file has 1310721 entries

       HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0         1     0          123  3869200167        2374        26
1         1     0          124  3869200167        2374        27
2         1     0           63  3869200167        2553        28
3         1     0           64  3869200167        2558        19
4         1     0           64  3869200167        2760        25
...     ...   ...          ...         ...         ...       ...
14995     1     1            4  3869200316        3399         9
14996     1     1           17  3869200316        3400        15
14997     1     1           10  3869200316        3530        16
14998     1     1            8  3869200316        3533        18
14999     1     0          139  3869200316        3539         0

[15000 rows x 6 columns]

2\. Find out the number of BX in a ORBIT (the value 'x').

In [18]:
max_bx = max(df.BX_COUNTER)
print(max_bx)

3563

3\. Find out how much the data taking lasted. You can either make an estimate based on the fraction of the measurements (rows) you read, or perform this check precisely by reading out the whole dataset.

In [23]:
x = 3563 
time = (max(df.ORBIT_CNT)-min(df.ORBIT_CNT))*x*25
print(time)

13272175

4\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information).

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1.

6\. Create a new DataFrame that contains only the rows with HEAD=1.

7\. Make two occupancy plots (one for each FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139